node_modules
.png
build/
coverage/
npm-debug.log
box-node-express-skeleton-app/app/config/local.js
box-node-express-skeleton-app/app/config/production.js
box-node-express-skeleton-app/app/*_config.json
config.json
package-lock.json
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
