.about-container::before {
  content: "";
  display: block;
  margin-top: 89px;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background: linear-gradient(black, rgba(255, 255, 255, 0)),
    url(../../../public/about.jpeg);
}

.about-container {
  background-color: black;
  background-image: linear-gradient(rgb(26, 25, 25), rgb(39, 38, 38));
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.mission,
.vision {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: justify;
  margin: 30px 0;
  width: 90%;
}

.mission {
  animation: slideIn 1s ease-in-out, fadeIn 1.5s ease-in-out;
}

.vision {
  animation: slideInRight 1s ease-in-out, fadeIn 1.5s ease-in-out;
}

@keyframes slideIn {
  0% {
    transform: translateX(-40%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(40%) scale(0.7);
    opacity: 0;
  }
  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mission-box {
  margin-left: 50px;
  font-size: 1.3rem;
}

.vision-box {
  margin-right: 50px;
  font-size: 1.3rem;
}

.mission-header,
.vision-header {
  font-size: 2rem;
  text-decoration: underline;
  margin-bottom: 15px;
  color: #55c2da;
}

.about-image {
  width: 250px;
  border-radius: 5px;
}

@media only screen and (max-width: 886px) {
  .about-image {
    width: 150px;
    margin-top: 75px;
  }

  .mission,
  .vision {
    align-items: flex-start;
  }

  .vision-box {
    margin-right: 15px;
  }

  .mission-box {
    margin-left: 15px;
  }

  .vision-text,
  .mission-text {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .vision,
  .mission {
    width: 95%;
    text-align: left;
  }
  .about-image {
    width: 100px;
  }
}
