.header-container {
  display: flex;
  background: none;
  color: #e8e8e8;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(
    75deg,
    rgb(17, 18, 23) 0%,
    rgb(20, 23, 33) 50%,
    rgba(20, 23, 33, 0.8) 100%
  );
}

.hamburger {
  width: 2rem;
  height: 1.6rem;
  display: flex;
  justify-content: space-around;
  flex-flow: column nowrap;
  z-index: 5;
  margin: 30px 30px;
  display: none;
}

.burger {
  width: 2rem;
  height: 0.15rem;
  border-radius: 10px;
  background-color: white;
  transform-origin: 1px;
  transition: all 0.3s linear;
}

.header {
  background: none;
  color: #e8e8e8;
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(
    75deg,
    rgb(17, 18, 23) 0%,
    rgb(20, 23, 33) 50%,
    rgba(20, 23, 33, 0.8) 100%
  );
}

.header-item {
  background: none;
  color: #e8e8e8;
  margin: 30px 0;
  font-size: 1.2rem;
  font-weight: bold;
  display: inline-block;
  position: relative;
}

#header-profile {
  width: 21px;
}

.header-icon {
  background: none;
}

.header-item:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #55c2da;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.header-item:hover {
  color: #55c2da;
}

.header-item:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 570px) {
  .header-item {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    justify-content: flex-start;
  }

  #display-ham {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-self: flex-end;
    align-self: flex-start;
    z-index: 99999;
    position: relative;
  }

  .header {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 50vw;
    height: 50%;
    z-index: 5;
    padding-left: 100px;
    border-radius: 18px;
    padding-top: 50px;
    background-color: black;
    animation: slideInLeft 0.5s ease-in-out;
    animation-fill-mode: forwards;
    opacity: 0;
    transform: translateX(-100%);
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
