.home {
  width: 100vw;
  height: 100vh;
  letter-spacing: 1px;
  background: linear-gradient(
    75deg,
    rgb(20, 23, 33) 0%,
    rgb(20, 23, 33) 50%,
    rgba(20, 23, 33, 0.8) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 50%;
}

.home-header {
  font-size: 42px;
  font-weight: 800;
  color: #e8e8e8;
  padding-bottom: 25px;
}

.home-subtitle {
  font-size: 18px;
  color: #afafaf;
  padding-bottom: 24px;
}

.home-links {
  display: flex;
  flex-direction: column;
}

.home-link {
  width: 45%;
  font-weight: 600;
  font-size: large;
  color: #e8e8e8;
  background: rgb(206, 86, 46);
  background: linear-gradient(
    90deg,
    rgba(206, 86, 46, 1) 0%,
    rgba(253, 70, 29, 1) 51%,
    rgba(252, 176, 69, 1) 100%
  );
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  padding: 13px 15px;
  margin-bottom: 20px;
}

.home-link:hover {
  filter: brightness(135%);
}

@media only screen and (max-width: 570px) {
  .home-container {
    width: 75%;
  }
}
