.main-page {
  width: 100%;
  height: 200vh;
}

.main-page::before {
  content: "";
  background-image: url("../../public/background1.jpg");
  background-size: 100% 100%;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 0;
  /* mask-image: linear-gradient(rgba(0, 0, 0, 1), transparent 150%); */
  mask-image: linear-gradient(black 25%, transparent 100%);
}
